@page

@model OnlineGameConverter.Server.Pages.OrbitalForecastRazorModel
@{
    ViewData["Title"] = "Orbital forecast";
}




<body class="body-main">
    <font color="green"> <p><h1>Obrital forecast</h1></font></p>

    <form asp-validation-summary="None" enctype="multipart/form-data" novalidate method="post">
        <dl>
            <dt>
                <table class="fon-index" width="90%" border="1">
                    <tr>
                        <td>Parameter</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                    <td>
                        <label asp-for="Begin"></label>
                    </td>
                    <td>
                        <input class="form-control" asp-for="Begin" />
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="End"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="End" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="X"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="X" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Y"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Y" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Z"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Z" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Vx"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Vx" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Vy"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Vy" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Vz"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Vz" />
                        </td>
                    </tr>
                </table>
            </dt>
        </dl>
        <input asp-page-handler="Start" class="btnsumbit-filter-index"
               type="submit" value="Start" />

        @{
            var items = Model.Items;
            if (items.Count > 0)
            {
                <table>
               
               @foreach (var item in items)
                    {
                        <tr><td>
                                <table>
                                    <tr>
                                        @{
                                            var dt = item.DateTime;
                                            <td>Time </td>
                                            <td>@dt</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            var x = item.X;
                                            <td>X</td>
                                            <td>@x</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            var y = item.Y;
                                            <td>Y</td>
                                            <td>@y</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            var z = item.Z;
                                            <td>Z</td>
                                            <td>@z</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            var Vx = item.Vx;
                                            <td>Vx</td>
                                            <td>@Vx</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            var Vy = item.Vy;
                                            <td>Vy</td>
                                            <td>@Vy</td>
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                             <td>Vz</td>
                                            <td>@item.Vz</td>
                                        }
                                    </tr>
                                </table>
                        </td></tr>
                    }
                </table>
            }
        }
    </form>
 
 
</body>

