@model IEnumerable<ForecastOutput>

<h1>Forecast result</h1>
@foreach (var item in Model)
{
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @item.Time
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.X)
        </dt>
        <dd class="col-sm-10">
            @item.X
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Y)
        </dt>
        <dd class="col-sm-10">
            @item.Y
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Z)
        </dt>
        <dd class="col-sm-10">
            @item.Z
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(item => item.Vx)
        </dt>
        <dd class="col-sm-10">
            @item.Vx
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vy)
        </dt>
        <dd class="col-sm-10">
            @item.Vy
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vz)
        </dt>
        <dd class="col-sm-10">
            @item.Vz
        </dd>
    </dl>
   }
